* {
  box-sizing: border-box;
}

body {
  background-color: rgba(255, 102, 0, 0.7);
}

.logo {
  display: flex;
  background-color: black;
  justify-content: space-between;
}

.img_izquierda {
  width: 100%;
}

.img_derecha {
  display: none;
}

.main_header {
  position: relative;
  height: 56px;
  margin-top: 0.5rem;
  background: rgb(255, 102, 0);
  display: flex;
  align-items: center;
}

.navbar {
  position: absolute;
  top: 9px;
  left: 0;
  padding: 0;
}

.nav-item {
  width: 100%;
}

.nav-link {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 102, 0);
  border: solid 1px black;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 10px 15px 10px 15px;
  display: inline-block;
  width: 100%;
}

.navbar-nav {
  background-color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-index {
  display: flex;
  flex-flow: wrap;
  gap: 1rem;
}

.titulo {
  width: 100%;
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;

  position: absolute;
  left: 56px;
  display: flex;
  width: auto;
  align-items: center;
}

.flex-parr {
  width: 100%;
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.2rem;
  overflow: auto;
}

.flex-sede {
  width: 100%;
  display: none;
}

.flex-foto {
  width: calc(50% - 1rem);
}

.flex-sede img,
.flex-foto img {
  width: 100%;
  object-fit: cover;
}

.main_footer {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  background-color: white;
  padding: 10px;
  align-items: center;
}

footer div {
  margin: 10px;
}

/* MODELOS */

main nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;

  background-color: rgb(0, 0, 0);
  font-size: 50px;
}

main nav ul strong a {
  color: rgb(255, 102, 0);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 45px;
  text-decoration: none;
  padding: 5px 5px 5px 5px;
  margin: 5px;
}

.mod-caja {
  display: flex;
  flex-flow: column;
  padding-top: 1rem;
}

.mod-caja div {
  width: 100%;
}

.caract {
  grid-column: 1;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
}

.img {
  grid-column: 2;
}

.img img {
  width: 100%;
  object-fit: cover;
}

.desc {
  grid-column: 3;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 25px;
  padding: 2px 2px 2px 2px;
  display: inline-block;
}

/*EQUIPAMIENTO*/

.eq-container {
  display: grid;
  grid-template-areas:
    "casco campera"
    "pantalon botas";
}

.casco {
  grid-area: casco;
}

.campera {
  grid-area: campera;
}

.pantalon {
  grid-area: pantalon;
}

.botas {
  grid-area: botas;
}

.eq_tit {
  color: rgb(255, 102, 0);
  background-color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 4rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 5px 5px 5px 5px;
  margin: 15px;
}

.eq_des {
  color: rgb(255, 255, 255);
  background-color: black;
  text-decoration: none;
  font-size: 2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/*SERVICE*/

.service_background {
  background-color: rgba(0, 0, 0, 0.8);
}

.serv-box {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border: solid 1px black;
  text-decoration: none;
  font-size: 1.5rem;
}
.serv-tit {
  text-decoration: none;
  font-size: 1.5rem;
}

/*ACCESORIOS*/

.acc-container {
  display: grid;
  grid-template-areas:
    "titulo titulo"
    "foto desc"
    "desc2 foto2"
    "foto3 desc3";
}

.acc_tit {
  grid-area: titulo;
  color: black;
  font-size: 4rem;
  text-align: center;
}

.acc_desc {
  grid-area: desc;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border: solid 1px black;
  text-decoration: none;
  font-size: 2.5rem;
}

.acc_desc2 {
  grid-area: desc2;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border: solid 1px black;
  text-decoration: none;
  font-size: 2.5rem;
}

.acc_desc3 {
  grid-area: desc3;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border: solid 1px black;
  text-decoration: none;
  font-size: 2.5rem;
}

.acc_img {
  grid-area: foto;
  background-color: rgb(255, 255, 255);
  border: solid 1px black;
}

.acc_img2 {
  grid-area: foto2;
  background-color: rgb(255, 255, 255);
  border: solid 1px black;
}

.acc_img3 {
  grid-area: foto3;
  background-color: rgb(255, 255, 255);
  border: solid 1px black;
}

@media (min-width: 576px) {
  .flex-parr {
    width: calc(70% - 0.5rem);
  }

  .flex-sede {
    display: flex;
    width: calc(30% - 0.5rem);
  }
}

@media (min-width: 992px) {
  .flex-foto {
    width: calc(25% - 1rem);
  }

  .nav-item {
    width: calc(100% / 5);
  }

  .nav-link {
    font-size: 2rem;
    width: 100%;
  }

  .navbar-collapse {
    background-color: black;
  }

  .img_izquierda {
    width: auto;
  }

  .img_derecha {
    display: block;
  }

  .main_footer {
    flex-flow: row;
  }

  .main_header {
    position: relative;
    height: auto;
    align-items: normal;
    flex-flow: column;
  }

  .navbar {
    position: relative;
  }

  .navbar-nav {
    width: 100%;
  }

  .titulo {
    position: relative;
    left: 0;
    padding: 1rem;
    margin-top: 0.5rem;
  }

  /* MODELOS */

  .mod-caja {
    flex-flow: wrap;
  }

  .img img {
    height: 100%;
  }

  .mod-caja div {
    width: 33%;
  }
}
