* {
  box-sizing: border-box;
}

body {
  background-color: rgba(255, 102, 0, 0.7);
}

.logo {
  display: flex;
  background-color: black;
  justify-content: space-between;
}

.img_izquierda {
  width: 100%;
}

.img_derecha {
  display: none;
}

.main_header {
  position: relative;
  height: 56px;
  margin-top: 0.5rem;
  background: rgb(255, 102, 0);
  display: flex;
  align-items: center;
}

.navbar {
  position: absolute;
  top: 9px;
  left: 0;
  padding: 0;
}

.nav-item {
  width: 100%;
}

.nav-link {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 102, 0);
  border: solid 1px black;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 10px 15px 10px 15px;
  display: inline-block;
  width: 100%;
}

.navbar-nav {
  background-color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-index {
  display: flex;
  flex-flow: wrap;
  gap: 1rem;
}

.titulo {
  width: 100%;
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;

  position: absolute;
  left: 56px;
  display: flex;
  width: auto;
  align-items: center;
}

.flex-parr {
  width: 100%;
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.2rem;
  overflow: auto;
}

.flex-sede {
  width: 100%;
  display: none;
}

.flex-foto {
  width: calc(50% - 1rem);
}

.flex-sede img,
.flex-foto img {
  width: 100%;
  object-fit: cover;
}

.main_footer {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  background-color: white;
  padding: 10px;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: center;
}

.buttons a {
  text-decoration: none;
  font-size: 28px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: #314652;
  color: #f1f1f1;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease-in-out;
}

.buttons a:hover {
  transform: scale(1.2);
}

.main_container {
  max-width: 1200px;
  margin: 0 auto;
}

/* MODELOS */

.mod-caja {
  display: flex;
  flex-flow: column;
  padding-top: 1rem;
}

.mod-caja div {
  width: 100%;
}

.caract {
  grid-column: 1;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
}

.img-mod {
  grid-column: 2;
}

.img-mod img {
  width: 100%;
  object-fit: cover;
}

.desc {
  grid-column: 3;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 25px;
  padding: 2px 2px 2px 2px;
  display: inline-block;
}

/*EQUIPAMIENTO*/

.eq-main {
  flex-flow: wrap;
}

.eq-caja {
  display: flex;
  flex-flow: column;
  padding-bottom: 2rem;
  width: 100%;
}

.eq-tit {
  text-align: center;
  color: rgb(255, 102, 0);
  background-color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 3rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.img-eq img {
  width: 100%;
  object-fit: cover;
  height: 350px;
}

.eq-des {
  color: rgb(255, 255, 255);
  background-color: black;
  text-decoration: none;
  font-size: 1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/*SERVICE*/
.serv-box {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border: solid 1px black;
  text-decoration: none;
  font-size: 1.5rem;
}
.serv-tit {
  text-decoration: none;
  font-size: 1.5rem;
}

/*ACCESORIOS*/

.acc-img img {
  height: 100%;
  object-fit: cover;
}

.acc-desc {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

/*.acc-desc {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border: solid 1px black;
  text-decoration: none;
  font-size: 1.5rem;
}

.acc-img img {
  width: 100%;
  height: 50%;
}
*/
@media (min-width: 576px) {
  .flex-parr {
    width: calc(70% - 0.5rem);
  }

  .flex-sede {
    display: flex;
    width: calc(30% - 0.5rem);
  }
}

@media (min-width: 992px) {
  .titulo2 {
    width: 100%;
    color: black;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 25px;
    background-color: rgb(255, 102, 0);
  }

  .titulo {
    display: none;
  }

  .flex-foto {
    width: calc(25% - 1rem);
  }

  .nav-item {
    width: calc(100% / 5);
  }

  .nav-link {
    font-size: 2rem;
    width: 100%;
  }

  .navbar-collapse {
    background-color: black;
  }

  .img_izquierda {
    width: auto;
  }

  .img_derecha {
    display: block;
  }

  .main_footer {
    flex-flow: row;
  }

  .main_header {
    position: relative;
    height: auto;
    align-items: normal;
    flex-flow: column;
  }

  .navbar {
    position: relative;
  }

  .navbar-nav {
    width: 100%;
  }

  .titulo {
    position: relative;
    left: 0;
    padding: 1rem;
    margin-top: 0.5rem;
  }

  /* MODELOS */

  .mod-caja {
    flex-flow: wrap;
  }

  .img img {
    height: 100%;
  }

  .mod-caja div {
    width: 33%;
  }

  /* EQUIPAMIENTO */

  .eq-caja {
    width: 50%;
    padding: 1rem;
  }
  .eq-des {
    font-size: 1.5rem;
  }

  /* ACCESORIOS */

  .acc-caja {
    height: 300px;
  }

  .acc-caja:nth-child(odd) {
    flex-flow: row;
  }

  .acc-caja:nth-child(even) {
    flex-flow: row-reverse;
  }
}
